@model IEnumerable<MVCPentaStagiu01.Models.PostViewModel>

@{
    ViewBag.Title = "Index of Posts";
}

<h2>Index</h2>

<td>
    @Html.ActionLink("Create", "Create") | //, new { id = item.Id }) |
    @Html.ActionLink("Details", "Details") | //, new { id = item.Id }) |
    @Html.ActionLink("List", "List")
</td>
