@model MVCPentaStagiu01.Models.UserViewModel


 
    @if(Model != null)
    {
        <span>Hello @Model.FirstName</span>
    }
    else
    {
        <span>Hello new user</span>
    }
<h2>@ViewBag.Title</h2>

