@model MVCPentaStagiu01.Models.UserViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<td>
    @Html.ActionLink("Create", "Create") | 
    @Html.ActionLink("Details", "Details") |
    @Html.ActionLink("Back to Index", "Index") |
    @Html.ActionLink("List", "List") |

</td>